.game-container {
    position: relative;
    width: 500px;
    margin: 20px auto;
    font-family: sans-serif;
}

.game-area {
    position: relative;
    height: 600px;
    border: 2px solid grey;
    overflow: hidden;
    background-color: #e6f0ff;
    border-bottom: 5px solid #363636;
}

.game-over-message {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(44, 62, 80, 0.9);
}

.game-over-message h3, .game-over-message p {
    color: white;
}

.user-input-area {
    position: relative;
    width: 100%;
}